.conways-game-of-life {
  display: flex;
  flex-direction: row;
}

.conways-game-of-life-info {
  margin-left: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
