.square-on {
  background: green;
  border: 1px solid #999;
  float: left;
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  height: 16px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 16px;
  animation-name: square-on-ani;
  animation-duration: 0.5s;
}

.square-off {
  background: white;
  border: 1px solid #999;
  float: left;
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  height: 16px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 16px;
  animation-name: square-off-ani;
  animation-duration: 0.5s;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

@keyframes square-on-ani {
  from {background-color: white;}
  to {background-color: green;}
}

@keyframes square-off-ani {
  from {background-color: green;}
  to {background-color: white;}
}